@use "../../style/mixins.scss" as mixins;

.title {
  color: white;
  font-family: "Mont";
  font-weight: 800;
  color: #f1f2f9;
  font-size: 70px;
  text-transform: uppercase;

  @include mixins.onDesktop {
    font-size: 90px;
  }
}

.container {
  margin: auto;

  flex-direction: column;
  height: 100%;
  display: flex;
}

.gif_container {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.gif {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
