@use "../../style/mixins.scss" as mixins;

.title {
  font-family: "Mont";
  color: #f1f2f9;
}

.good_title {
  font-weight: 800;
  margin-bottom: 40px;
  padding-top: 30px;
  font-size: 22px;
  @include mixins.onTablet {
    font-size: 32px;
  }
}

.secondary_images {
  display: flex;

  @include mixins.onTablet {
    display: flex;
    flex-direction: column;
  }
}

.secondary_img {
  width: 40px;
  height: 40px;
  object-fit: contain;

  @include mixins.onDesktop {
    width: 66px;
    height: 66px;
  }
}

.good_wrapper {
  width: 50px;
  height: 50px;
  border: 1px solid #4a4d58;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;

  &:hover {
    border: 1px solid #c4c4c4;
  }

  @include mixins.onTablet {
    margin-bottom: 8px;
  }

  @include mixins.onDesktop {
    width: 80px;
    height: 80px;
  }
}

.main_img {
  margin-bottom: 24px;
  height: 274px;
  object-fit: contain;
  border-radius: 20px;

  @include mixins.onTablet {
    grid-row: 1/2;
  }

  @include mixins.onDesktop {
    height: 442px;
    border-radius: 34px;
  }
}

.good_images {
  display: grid;
  justify-items: center;
  justify-content: center;
  margin-bottom: 40px;

  @include mixins.onTablet {
    justify-items: normal;
    justify-content: normal;
  }

  @include mixins.onDesktop {
    justify-items: normal;
    justify-content: normal;
  }
}

.good_colors {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid #3b3e4a;
  padding-bottom: 20px;
  margin-bottom: 24px;

  & p {
    font-family: "Mont";
    font-size: 12px;
    margin-bottom: 8px;
    color: #75767f;
  }
}

.good_colors__bar > p {
  font-weight: 700;
}

.good_id {
  font-family: "Mont";
  font-size: 12px;
  font-weight: 700;
  color: #75767f;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: right;
}

.good_color {
  display: inline-block;
  border: 1px solid #3b3e4a;
  border-radius: 36px;
  width: 30px;
  height: 30px;
  margin-right: 8px;

  &:hover {
    border: 1px solid #75767f;
  }

  &:focus {
    border: 1px solid #f1f2f9;
  }
}

.color_button {
  border-radius: 36px;
  height: 30px;
  width: 30px;
  border: 2px solid #0f1121;
}

.button_1 {
  background-color: #fcdbc1;
}

.button_2 {
  background-color: #5f7170;
}

.button_3 {
  background-color: #4c4c4c;
}

.button_4 {
  background-color: #f0f0f0;
}

.good_capacity {
  border-bottom: 1px solid #3b3e4a;
  padding-bottom: 20px;
  margin-bottom: 24px;

  & p {
    font-family: "Mont";
    font-size: 12px;
    margin-bottom: 8px;
    color: #75767f;
  }
}

.capacity_selector {
  font-family: "Mont";
  margin-right: 8px;
  background-color: #0f1121;
  color: #f1f2f9;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0em;
  border: 1px solid #3b3e4a;
  height: 32px;
  width: fit-content;
  outline: none;

  &:focus {
    background-color: #f1f2f9;
    color: #0f1121;
  }
}

.good_prices {
  font-family: "Mont";
  font-weight: 800;
  line-height: 41px;
  text-align: left;
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  &_previous {
    text-decoration: line-through;
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #75767f;
  }

  &_current {
    font-size: 32px;
    letter-spacing: -0.01em;
    color: #f1f2f9;
    margin-right: 8px;
  }
}

.good_purchaise {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.purchaise_btn {
  width: 231px;
  height: 48px;
  background: #905bff;
  border: none;
  color: #f1f2f9;
  font-family: "Mont";
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;

  @include mixins.onTablet {
    width: 80%;
  }
}

.favorite_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #323542;
  border: none;
  width: 48px;
  height: 48px;
}

.good_detail {
  display: flex;
  justify-content: space-between;
  font-family: "Mont";
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 700;

  &_1 {
    color: #75767f;
  }

  &_2 {
    color: #f1f2f9;
  }
}

.good_options {
  margin-bottom: 56px;
}

.good_about__title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0em;

  border-bottom: 1px solid #3b3e4a;
  padding-bottom: 16px;
  margin-bottom: 32px;
}

.about_title {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0em;
  margin-bottom: 16px;
  line-height: 20.45px;
}

.about_content {
  font-family: "Mont";
  color: #89939a;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;

  margin-bottom: 32px;
  &:nth-last-child(1) {
    margin-bottom: 56px;
  }

  @include mixins.onTablet {
    &:nth-last-child(1) {
      margin-bottom: 64px;
    }
  }
}

.good_spec {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;

  &:nth-last-child(1) {
    margin-bottom: 48px;
  }
}

.text {
  font-family: "Mont";
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
}

.specs_title {
  font-size: 20px;
  border-bottom: 1px solid #3b3e4a;
  padding-bottom: 16px;
  margin-bottom: 32px;
}

.spec_title {
  color: #75767f;
}

.spec_content {
  color: #f1f2f9;
}
