@use "../../style/mixins.scss" as mixins;

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 160px;
  width: 100%;
  border-top: 1px solid #3b3e4a;
  background-color: #0f1121;
  padding: 10px;
  justify-content: space-between;
  align-items: center;

  &_logo {
    width: fit-content;
    height: fit-content;
  }

  &_nav {
    display: block;
    font-family: "Mont";
    color: #f1f2f9;
    margin-bottom: 16px;
    padding-left: 10px;
    font-weight: 800;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    text-decoration: none;

    & > *:hover {
      text-decoration: underline;
    }

    @include mixins.onTablet {
      display: flex;
      margin-bottom: 0;
      padding-left: 40px;
    }

    @include mixins.onDesktop {
      display: flex;
      margin-bottom: 0;
      padding-left: 80px;
    }
  }

  &_nav_last {
    display: flex;
    margin: 0 auto;
    align-items: baseline;
    padding-bottom: 16px;
    padding-right: 46px;
    width: fit-content;
    height: 15px;
    scroll-behavior: smooth;
    background-color: transparent;
    border: none;

    font-family: "Mont";
    font-weight: 700;
    font-size: 12px;
    text-decoration: none;
    color: #75767f;

    &:hover {
      text-decoration: underline;
    }

    &::after {
      content: url("../../img/Buttons/Icons/vector.svg");
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #323542;
      width: 30px;
      height: 30px;
      margin-left: 16px;
    }

    @include mixins.onTablet {
      display: flex;
      margin: 0;
      justify-content: flex-end;
    }
  }

  @include mixins.onTablet {
    display: flex;
    height: 50px;
  }
}

.menu_opened {
  position: unset;
  padding: 0;
}
