@use "../../style/mixins.scss" as mixins;
@use "../../style/_vars.scss" as vars;

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 250px;
  box-sizing: border-box;
  background-color: vars.$color-surface1;
  padding: 0 32px;
  border: solid 1px transparent;
  @include mixins.onDesktop {
    min-height: 450px;
  }

  &:hover {
    border-color: #323542;
  }

  &__link {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: #fff;
    }
  }

  &__img {
    height: 190px;
    width: fit-content;
    align-self: center;
    margin-bottom: 25px;
    margin-top: 0;
  }

  &__name {
    color: vars.$color-white;
    font-family: "Mont";
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 8px;
    text-decoration: none;
  }

  &__price {
    display: flex;
    color: vars.$color-white;
    font-family: "Mont";
    font-size: 22px;
    font-weight: 800;

    &_old {
      margin-bottom: 24px;
    }

    &_new {
      font-weight: normal;
      color: vars.$color-secondary;
      text-decoration: line-through;
      margin-left: 8px;
    }
  }

  &__stats {
    display: flex;
    justify-content: space-between;

    &::before {
      content: "";
      position: absolute;
      background-color: #3b3e4a;
      width: 100%;
      max-width: 185px;
      margin-top: -15px;
      height: 2px;
    }

    &_item {
      color: vars.$color-secondary;
      font-size: 12px;
      margin-bottom: 8px;
    }

    &_info {
      color: vars.$color-white;
      font-size: 12px;
      margin-bottom: 8px;
      text-align: end;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
}
