@mixin onTablet {
  @media (min-width: 639px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1199px) {
    @content;
  }
}

@font-face {
  font-family: "Mont";
  src: url(../fonts/Mont-Regular.otf);
  src: url(../fonts/Mont-Bold.otf);
  src: url(../fonts/Mont-SemiBold.otf);

}
