@use "../../../style/vars" as vars;

.card__buy {
  background-color: vars.$color-purple;
  border: none;
  color: vars.$color-white;
  margin-right: 8px;
  font-family: "Mont";
  font-size: 14px;
  font-weight: 700;
  width: 160px;
  height: 40px;
  transition: background-color 0.3s ease-out;

  &:hover {
    background-color: #a378ff;
  }

  &_inCart {
    transition: background-color 0.3s ease-out;
    background-color: #323542;
  }

  &:active {
    transition: background-color 0.3s ease-out;
    background-color: #323542;
  }
}
