@use "../../style/mixins.scss" as mixins;

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  box-shadow: 0px 1px 0px #323542;

  margin-bottom: 24px;

  @include mixins.onTablet {
    margin-bottom: 32px;
  }

  @include mixins.onDesktop {
    margin-bottom: 56px;
  }

  &_logo {
    display: block;
    background-image: url(../../../public/Logo.png);
    height: 48px;
    width: 120px;
    background-repeat: no-repeat;
  }

  &_favorites {
    display: block;
    background-image: url(../../../public/favoriteIcon.svg);
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
  }

  &_shopping_bag {
    display: block;
    background-image: url(../../../public/shopping_bag.svg);
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
  }
}

.main_wrapper {
  display: flex;
}

.nav_bar {
  margin: auto;
}

.PC_navigation {
  display: none;

  @include mixins.onTablet {
    display: grid;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.wrapper {
  display: none;

  @include mixins.onTablet {
    display: flex;
  }
}
