@use "../../style/mixins.scss" as mixins;

.categories {
  &__block {
    margin: 0 auto;
    margin-bottom: 32px;
    text-decoration: none;

    @include mixins.onTablet {
      margin-bottom: 64px;
    }

    @include mixins.onDesktop {
      margin-bottom: 80px;
    }
  }

  &__wrapper {
    position: relative;
    margin-bottom: 24px;
    height: 350px;
    width: 350px;
    transition: transform 0.3s;

    @include mixins.onTablet {
      height: 235px;
      width: 235px;
    }

    @include mixins.onDesktop {
      height: 370px;
      width: 370px;
    }

    &:hover {
      transform: scale(1.02);
    }
  }

  &__wrappermobile {
    background-color: #6d6474;
  }

  &__wrappertablet {
    background-color: #b4bdc3;
  }

  &__wrapperaccessories {
    background-color: #d53C51;
  }
}

.home {
  &__title {
    margin: 24px 0;
    font-family: 'Mont';
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -1%;
    font-weight: 800;
    color: #fff;

    @include mixins.onTablet {
      margin: 37px 0;
      font-size: 48px;
      line-height: 56px;
      letter-spacing: -1%;
      font-weight: 800;
    }
  }

  &__buttonwrapper {
    display: flex;
  }

  &__subtitle {
    display: inline-block;
    font-family: 'Mont';
    font-size: 22px;
    line-height: 31px;
    letter-spacing: -1%;
    font-weight: 800;
    color: #fff;

    @include mixins.onTablet {
      font-size: 32px;
      line-height: 41px;
      letter-spacing: -1%;
      font-weight: 800;
    }
  }

  &__subtitlecategory {
    margin-bottom: 24px;
  }

  &__categories {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @include mixins.onTablet {
      flex-direction: row;
    }

    
  }
}