@use "../../style/mixins.scss" as mixins;

.home {
  &__buttonprev {
    position: relative;
    margin-right: 16px;
    height: 32px;
    width: 32px;
    background-color: #323542;
    cursor: pointer;

    transition: border 0.3s;

    background-image: url('../../img/Buttons/prev.svg');
    background-position: center;
    background-repeat: no-repeat;
    transition: background-color 0.3s;

    &:hover {
      background-color: #4A4d58;
    }
  }

  &__buttonnext {
    position: relative;
    height: 32px;
    width: 32px;
    background-color: #323542;
    cursor: pointer;

    transition: border 0.3s;

    background-image: url('../../img/Buttons/next.svg');
    background-position: center;
    background-repeat: no-repeat;
    transition: background-color 0.3s;

    &:hover {
      background-color: #4A4d58;
    }
  }
}