@use "../../style/mixins.scss" as mixins;

.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 16px;
  max-width: 1140px;
  justify-content: center;
  align-items: center;
  @include mixins.onDesktop {
    margin: 0 auto;
  }
}

.title {
  font-family: "Mont";
  font-weight: 800;
  font-size: 48px;

  color: #f1f2f9;
  margin-bottom: 40px;
  padding-top: 30px;

  @include mixins.onTablet {
    font-size: 48px;
  }
}

.newModels {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;

  &__buttonwrapper {
    display: flex;
  }

  &__subtitle {
    display: inline-block;
    font-family: "Mont";
    font-weight: 800;
    font-size: 32px;

    color: #f1f2f9;
    margin-bottom: 40px;
    padding-top: 30px;

    @include mixins.onTablet {
      font-size: 48px;
    }
  }

  &__buttonprev {
    position: relative;
    margin-right: 16px;
    height: 32px;
    width: 32px;
    border-radius: 50px;
    border: 1px solid #b4bdc3;
    cursor: pointer;

    &::after {
      content: "<";
      position: absolute;
      top: 20%;
      left: 30%;
      color: #f1f2f9;
    }
  }

  &__buttonnext {
    position: relative;
    height: 32px;
    width: 32px;
    border-radius: 50px;
    border: 1px solid #b4bdc3;
    cursor: pointer;

    &::after {
      content: ">";
      position: absolute;
      top: 20%;
      right: 30%;
      color: #f1f2f9;
    }
  }
}
