@use "../../style/mixins.scss" as mixins;

.Container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 16px;
  padding: 0 16px;

  @include mixins.onTablet {
    grid-template-columns: repeat(12, 1fr);
    padding: 0 24px;
  }

  @include mixins.onDesktop {
    grid-template-columns: repeat(24, 1fr);
    padding: 32px;
  }
}