@use "../../style/mixins.scss" as mixins;

.category {
  position: relative;
  margin-left: 20px;

  &__image {
    @include mixins.onTablet {
      height: 235px;
      width: 235px;
    }

    @include mixins.onDesktop {
      height: 370px;
      width: 370px;
    }
  }
  
  &__title {
    margin-bottom: 4px;
    font-family: 'Mont';
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: #fff;
  }

  &__text {
    font-family: 'Mont';
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    color: #89939a;
  }
}