@use "../../style/mixins.scss" as mixins;

.category {
  &__block {
    display: flex;
    justify-content: space-between;
  }

  &__wrapper {
    position: relative;
    margin-bottom: 24px;
    height: 370px;
    width: 370px;
    border-radius: 8px;

    transition: transform 0.3s;

    &:hover {
      transform: scale(1.02);
    }
  }

  &__title {
    margin-bottom: 4px;
    font-family: "Mont";
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
  }

  &__text {
    font-family: "Mont";
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    color: #89939a;
  }
}
