@use "../../../../style/mixins.scss" as mixins;

.mob_nav {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;

  @include mixins.onTablet {
    display: none;
  }
}

// .fixed-position {
//   position: fixed;
//   overflow-y: hidden;
// }
